---
import { Image } from "astro:assets";
import { skills } from "../../../const/const";
import { getIconComponent } from "../../../icons/IconAll.astro";
import laravel from "../../../../public/icons/icons8-laravel-64.png"
import lab from "../../../../public/icons/icons8-gitlab-48.png"
import java from "../../../../public/icons/icons8-logo-java-coffee-cup-48.png"
import vb from "../../../../public/icons/icons8-visual-basic-50 (1).png"
import angular from "../../../../public/icons/icons8-angularjs-48.png"
import boot from "../../../../public/icons/icons8-bootstrap-48.png"
import sql from "../../../../public/icons/icons8-sql-48.png"
import bash from "../../../../public/icons/bash.png"
---

<section class="section-skill">
  <div class="linear-grandient-1"></div>
  <div class="container-skill">
    <h2 class="title-skills" id="skills">Environnements</h2>
    <ul class="ul-skill">
      {
        skills.map(({ icon, title }) => {
          const IconComponent = getIconComponent(icon);
          return (
            <li class="li-skills">
              {IconComponent && <IconComponent />}
              <p class="p-skill">{title}</p>
            </li>
          );
        })
      }
            <li class="li-skills">
              <Image src={laravel} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Laravel</p>
            </li>
            <li class="li-skills">
              <Image src={lab} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Gitlab</p>
            </li>
            <li class="li-skills">
              <Image src={java} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Java</p>
            </li>
            <li class="li-skills">
              <Image src={vb} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Visual basic</p>
            </li>
            <li class="li-skills">
              <Image src={angular} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Angular</p>
            </li>
            <li class="li-skills">
              <Image src={boot} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Bootstrap</p>
            </li>
            <li class="li-skills">
              <Image src={sql} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">SQl</p>
            </li>
            <li class="li-skills">
              <Image id="bash" src={bash} alt="react.js"
                  loading="lazy"/>
                <p class="p-skill">Bash</p>
            </li>
    </ul>
  </div>
</section>

<style>
  #bash{
    width: 50px;
    height: 50px;
  }
  .section-skill {
    position: relative;
    overflow: hidden;
    background-color: transparent;
    border-top: none;
  }
  .container-skill {
    position: relative;
    width: 90%;
    color: #f6f6f9;
    padding: 10px 0;
    margin: 0 auto;
    padding: 10px 0;
    height: 100%;
    max-width: 1355px;
  }
  .title-skills {
    position: relative;
    display: block;
    font-size: 27px;
    padding: 10px 0;
    color: #f6f6f9;
    width: 100%;
    font-weight: 800;
    scroll-margin-top: 80px;
  }

  .li-skills {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }

  .p-skill {
    padding: 5px 0;
  }
  .linear-grandient-1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #000, rgba(1, 190, 150, 0.5));
    z-index: 0;
  }

  .ul-skill {
    position: relative;
    display: grid;
    width: 100%;
    align-items: center;
    gap: 15px;
    padding: 40px 0;
    width: 100%;
    overflow: hidden;
    grid-template-columns: repeat(8, 1fr);
  }
  @media (min-width: 300px) {
    .ul-skill {
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 550px) {
    .ul-skill {
      grid-template-columns: repeat(4, 1fr);
      padding: 20px 0;
    }
  }
  @media (min-width: 800px) {
    .ul-skill {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  @media (min-width: 1000px) {
    .ul-skill {
      grid-template-columns: repeat(6, 1fr);
    }
  }
  @media (min-width: 1200px) {
    .ul-skill {
      grid-template-columns: repeat(7, 1fr);
    }
  }
  @media (min-width: 1350px) {
    .ul-skill {
      grid-template-columns: repeat(8, 1fr);
    }
  }
</style>
